#list {
color:#242f3e;
font-size:20px;
font-family:'Fredoka One',cursive;
text-align:right
}

#list1 {
font-family:'Fredoka One',cursive;
font-size:20px;
color:#242f3e;
text-align:left
}

#map {
height:100%;
margin-top:20px
}

html,body {
height:100%;
margin:0;
padding:0;
background-color:#746855
}

#btn {
padding:30px;
color:#746855;
text-align:center;
background-color:#242f3e;
border:0;
width:100%;
font-size:25px;
position:relative;
border-radius:8px 8px 8px 8px;
margin:0
}